<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OriFood</title>
    <script type="text/javascript">
        var serviceUrl = '@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"])';
        var userId = '@Session["UserId"]';
    </script>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script type="application/x-javascript">
        addEventListener("load", function () {
               setTimeout(hideURLbar, 0);
           }, false);
           function hideURLbar() {
               window.scrollTo(0, 1);
           } </script>
    <link href="../Scripts/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="../Scripts/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="../Scripts/css/style.css" rel='stylesheet' type='text/css' />
    <link href="../Scripts/css/simple-sidebar.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../Scripts/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Scripts/select2/select2.min.css">
    <script src="../Scripts/js/jquery-1.11.1.min.js"></script>
    <!----requred-js-files---->
    <!----//requred-js-files---->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <!----Calender -------->
    <link rel="stylesheet" href="../Scripts/css/clndr.css" type="text/css" />
    <script src="../Scripts/bootstrap.min.js"></script>
    <link href="../Content/summernote.css" rel='stylesheet' type='text/css' />
    <link href="../Content/summernote-bs2.css" rel='stylesheet' type='text/css' />
    <link href="../Content/summernote-bs3.css" rel='stylesheet' type='text/css' />
    <script src="../Scripts/js/underscore-min.js"></script>
    @*<script src="../Scripts/js/underscore.js"></script>*@
    <script src="../Scripts/js/moment-2.2.1.js"></script>
    <script src="../Scripts/js/clndr.js"></script>
    <script src="../Scripts/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <!----End Calender -------->
    <script type="text/javascript" src="../Scripts/js/move-top.js"></script>
    <script type="text/javascript" src="../Scripts/js/easing.js"></script>

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OriFood", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">*@
    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
    @*<li>@Html.ActionLink("Account", "Index", "Account")</li>
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - OriFood</p>
            </footer>
        </div>


        @RenderSection("scripts", required: false)*@
    @*col-sm-12 col-md-12*@

    
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        OriFood
                    </a>
                </li>
                <li>
                    <a href="#">Đây là menu chức năng 1</a>
                </li>
                <li>
                    <a href="#">Đây là menu chức năng 2</a>
                </li>
                <li>
                    <a href="#">Đây là menu chức năng 3</a>
                </li>
                <li>
                    <a href="#">Đây là menu chức năng 4</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" @*style="margin-right:-15px;margin-left:-15px;"*@>
                <div class="row">                   
                    <div class="col-lg-12">
                        <div class="header-home" style="position:fixed;width:100%">
                            <div class="container">
                                <div class="fixed-header">
                                    <div class="h_menu4">
                                        <!-- start h_menu4 -->
                                        <a class="toggleMenu" href="#">Menu</a>
                                        <ul class="nav" style="margin-bottom:-5px;margin-top:5px;">
                                            <li style="margin-right:20px;">
                                                <div class="form-group">
                                                    <select class="form-control select2" style="width: 100%;background-color: #e7e7e7;">
                                                        <option selected="selected">Combobox1</option>
                                                        <option>Alaska</option>
                                                        <option>California</option>
                                                        <option>Delaware</option>
                                                        <option>Tennessee</option>
                                                        <option>Texas</option>
                                                        <option>Washington</option>
                                                    </select>
                                                </div>
                                                <script>
                                $(function () {
                                    //Initialize Select2 Elements
                                    $(".select2").select2();
                                });
                                                </script>
                                            </li>
                                            <li style="margin-right:20px;">
                                                <div class="form-group">
                                                    <select class="form-control select2" style="width: 100%;background-color: #e7e7e7;">
                                                        <option selected="selected">Combobox2</option>
                                                        <option>Alaska</option>
                                                        <option>California</option>
                                                        <option>Delaware</option>
                                                        <option>Tennessee</option>
                                                        <option>Texas</option>
                                                        <option>Washington</option>
                                                    </select>
                                                </div>
                                                <script>
                                $(function () {
                                    //Initialize Select2 Elements
                                    $(".select2").select2();
                                });
                                                </script>
                                            </li>
                                            <li style="margin-bottom:-13px;">
                                                <div class="input-group" style="width:450px;">
                                                    <input type="text" name="q" class="form-control" placeholder="Search..." style="background-color: #e7e7e7">
                                                    <span class="input-group-btn">
                                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat" style="background-color: #e7e7e7">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </li>
                                            <li style="margin-left:20px;">
                                                <label class="btn btn-primary btn-normal btn-inline " target="_self">
                                                    <input type="submit"
                                                           value="Đăng nhập" style="background:none;border:none" />
                                                </label>
                                            </li>
                                        </ul>
                                        <script type="text/javascript" src="../Scripts/js/nav.js"></script>
                                        <script type="text/javascript">
                        jQuery(document).ready(function ($) {
                            $(".scroll").click(function (event) {
                                event.preventDefault();
                                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                            });
                        });
                                        </script>
                                        <!--script-->
                                        <script>
                        $(document).ready(function () {
                            $(".nav li a").click(function () {
                                $(this).parent().addClass("active");
                                $(this).parent().siblings().removeClass("active");
                            });
                        });
                                        </script>
                                        <!-- script-for sticky-nav -->
                                        <script>
                        $(document).ready(function () {
                            var navoffeset = $(".header-home").offset().top;
                            $(window).scroll(function () {
                                var scrollpos = $(window).scrollTop();
                                if (scrollpos >= navoffeset) {
                                    $(".header-home").addClass("fixed");
                                } else {
                                    $(".header-home").removeClass("fixed");
                                }
                            });

                        });
                                        </script>
                                        <!-- /script-for sticky-nav -->
                                    </div><!-- end h_menu4 -->
                                </div>
                            </div>
                        </div>
                        <div class="header" id="home">
                            <div class="container">                                
                                <div class="logo">
                                    @*<img src="../Scripts/images/logo.png" alt="" />*@
                                    <p style="color:white; font-size:140px;">OriFood</p>
                                </div>
                            </div>
                        </div>
                        <div class="header-home">
                            <div class="container">
                                <div class="fixed-header">                                   
                                    <div class="h_menu4">
                                        <!-- start h_menu4 -->
                                        <a class="toggleMenu" href="#">Menu</a>
                                        <ul class="nav">
                                            <li class="active"><a href="#home" class="scroll">Home</a></li>
                                            <li><a href="#announce" class="scroll">Hot</a></li>
                                            <li><a href="#menu" class="scroll">News</a></li>
                                            <li><a href="#gallery" class="scroll">Saved</a></li>
                                            <li><a href="#about" class="scroll">About</a></li>
                                            <li><a href="#contact" class="scroll">Contact</a></li>
                                            <li>
                                                @*<div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>*@
                                            </li>
                                        </ul>
                                        <script type="text/javascript" src="../Scripts/js/nav.js"></script>
                                        <script type="text/javascript">
                        jQuery(document).ready(function ($) {
                            $(".scroll").click(function (event) {
                                event.preventDefault();
                                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                            });
                        });
                                        </script>
                                        <!--script-->
                                        <script>
                        $(document).ready(function () {
                            $(".nav li a").click(function () {
                                $(this).parent().addClass("active");
                                $(this).parent().siblings().removeClass("active");
                            });
                        });
                                        </script>
                                        <!-- script-for sticky-nav -->
                                        <script>
                        $(document).ready(function () {
                            var navoffeset = $(".header-home").offset().top;
                            $(window).scroll(function () {
                                var scrollpos = $(window).scrollTop();
                                if (scrollpos >= navoffeset) {
                                    $(".header-home").addClass("fixed");
                                } else {
                                    $(".header-home").removeClass("fixed");
                                }
                            });

                        });
                                        </script>
                                        <!-- /script-for sticky-nav -->
                                    </div><!-- end h_menu4 -->
                                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle" style="background:#e67e22;border-color:#e67e22"><i class="fa fa-list"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="main">
                            <div class="container">
                                <div class="announce" id="announce">
                                    <h1 class="tz-title-4 tzcolor-blue">
                                        <span class="tzweight_Bold">Announcements</span>
                                    </h1>
                                    <div class="section_group">
                                        <div class="container body-content">
                                            @RenderBody()
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                                <div class="contact" id="contact">
                                    <h3 class="tz-title-2">
                                        <span class="tzweight_Bold">Contact</span>
                                    </h3>
                                    <div class="contact_box">
                                        <div class="col-md-6 contact_form">
                                            <form>
                                                <div class="column_2">
                                                    <input type="text" class="text" value="Name" onfocus="this.value = '';"
                                                           onblur="if (this.value == '') {this.value = 'Name';}">
                                                    <input type="text" class="text" value="Email" onfocus="this.value = '';"
                                                           onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left:2.7%">

                                                </div>
                                                <div class="column_3">
                                                    <textarea value="Message:" onfocus="this.value = '';"
                                                              onblur="if (this.value == '') {this.value = 'Message';}">
                                                        Message:
                                                    </textarea>
                                                </div>
                                                <div class="form-submit1">
                                                    <label class="btn btn-primary btn-normal btn-inline " target="_self">
                                                        <input type="submit"
                                                               value="Send">
                                                    </label>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="map">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"></iframe>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="copy">
                                    <p>&copy; @DateTime.Now.Year - OriFood</p>
                                </div>
                                <script type="text/javascript">
                $(document).ready(function () {
                    /*
                     var defaults = {
                     containerID: 'toTop', // fading element id
                     containerHoverID: 'toTopHover', // fading element hover id
                     scrollSpeed: 1200,
                     easingType: 'linear'
                     };
                     */

                    $().UItoTop({ easingType: 'easeOutQuart' });

                });
                                </script>
                                <a class="scroll" href="#home" id="toTop" style="display: block;">
                                    <span id="toTopHover"
                                          style="opacity: 1;"></span>
                                </a>
                            </div>
                        </div>
                        <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    
    
        @RenderSection("scripts", required: false)
</body>
</html>
