@{
    ViewBag.Title = "Account";
}

<h2>Trang quản lý tài khoản</h2>
<h1>UserID: @Session["UserId"]</h1>
<h1>UserName: @Session["UserName"]</h1>

<a href="/Account/Logout"> Logout  </a> || 

<!-- ko with: user -->
<div class="function">
    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#user-view-modal" data-bind="click: view">
        <span class="glyphicon glyphicon-search"></span>Xem thông tin chi tiết người dùng
    </button>
</div>


<div class="modal fade" id="user-view-modal" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog width50pc">
        <div class="modal-content">
            <div class="modal-header">
                <h2>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    Thông tin người dùng
                </h2>
            </div>

            <div class="form-horizontal" data-bind="with: currentUser">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Id người dùng:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: Id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Tên đăng nhập:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: UserName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Email:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Tên đầy đủ:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: FullName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Mật khẩu:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: PasswordHash" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Chức vụ:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: RoleName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Giới tính:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: GenderName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Bị khóa:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: IsLock" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Số điện thoại:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: PhoneNumber" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Avatar:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: Avatar" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Cover:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: Cover" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">SecurityStamp:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: SecurityStamp" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">IsDeleted:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: IsDeleted" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Ngày đăng ký:</label>
                        <div class="col-sm-9 col-md-9">
                            <label class="control-label label-control" data-bind="text: CreatedDate" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <button class="btn btn btn-sm btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove-circle"></span>Đóng
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/user")
}
